In [1]:
import pandas as pd

# Cargar los datos de las facturas desde un archivo Excel
datos_facturas = pd.read_excel('https://foresightbi.com.ng/wp-content/uploads/2020/05/8.-Invoices-with-Merged-Categories-and-Merged-Amounts.xlsx')

# Mostrar las primeras filas de los datos originales de las facturas
datos_facturas.head()

,Order ID,Category,Amount
0,CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12
1,CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94
2,CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035
3,CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46

In [2]:
# Dividir las columnas 'Categoría' y 'Monto' por '|' y expandirlas en filas separadas
categorias_expandidas = datos_facturas['Category'].str.split('|').explode()
montos_expandidos = datos_facturas['Amount'].str.split('|').explode()

# Crear un nuevo DataFrame con las categorías y montos expandidos
datos_expandidos = pd.DataFrame({
    'Categoría': categorias_expandidas,
    'Monto': montos_expandidos
})

# Unir el 'ID de Pedido' del DataFrame original al nuevo DataFrame expandido
datos_expandidos = datos_expandidos.join(datos_facturas['Order ID'])

In [3]:
# Reorganizar las columnas y restablecer el índice
datos_finales = datos_expandidos.loc[:, ['Order ID', 'Categoría', 'Monto']].reset_index(drop=True)

# Mostrar las primeras filas de los datos estructurados finales
datos_finales.head()

         Order ID    Categoría     Monto
0  CA-2011-167199     Binders    609.98
1  CA-2011-167199         Art      5.48
2  CA-2011-167199      Phones    391.98
3  CA-2011-167199   Fasteners    755.96
4  CA-2011-167199        Paper     31.12